In [1]:
import numpy as np
import pandas as pd
import pickle
from material_models import GOH_fullyinc
import tensorflow as tf
from misc import preprocessing, normalization, predict
import tensorflow.keras.backend as K

In [2]:
a1vals = [0, 0.036, 0.04, 0.044, 0.08, 0.16, 0.32]
a3vals = [0, 1.98, 2.2, 2.42, 4.4, 8.8, 17.2]

In [3]:
L1val = pd.DataFrame(index=a1vals,columns=a3vals)
L1trn = pd.DataFrame(index=a1vals,columns=a3vals)
L2val = pd.DataFrame(index=a1vals,columns=a3vals)
L2trn = pd.DataFrame(index=a1vals,columns=a3vals)
L3val = pd.DataFrame(index=a1vals,columns=a3vals)
L3trn = pd.DataFrame(index=a1vals,columns=a3vals)

Leval = pd.DataFrame(index=a1vals,columns=a3vals)
Letrn = pd.DataFrame(index=a1vals,columns=a3vals)
for a1 in a1vals:
    for a3 in a3vals:
        model_name = 'P1C1_s_a1_{p1}_a2_1_a3_{p3}'.format(p1=a1,p3=a3)
        dataset_name = 'P1C1_s'
        
        #Check if the NN was trained for this combination, if not skip.
        try:
            sigma_pred, _,_,_,_,_ = predict(model_name, dataset_name)
        except:
            L1trn.at[a1,a3]='x'
            L1val.at[a1,a3]='x'
            L2trn.at[a1,a3]='x'
            L2val.at[a1,a3]='x'
            L3trn.at[a1,a3]='x'
            L3val.at[a1,a3]='x'
            Letrn.at[a1,a3]='x'
            Leval.at[a1,a3]='x'
            continue
        
        ## Training:
        # L1
        ndata, I1, I2, I4a, I4s, Psi_gt, X, Y, sigma_gt, F, C, C_inv  = preprocessing(dataset_name)
        meanPsi, meanI1, meanI2, meanI4a, meanI4s, stdPsi, stdI1, stdI2, stdI4a, stdI4s = \
                                                            normalization(True, model_name, Psi_gt, I1, I2, I4a, I4s)
        model = tf.keras.models.model_from_json(open('savednet/'+model_name+'.json').read())
        model.load_weights('savednet/'+model_name+'_weights.h5')

        Psinorm = (Psi_gt - meanPsi)/stdPsi
        I1norm  = (I1     - meanI1) /stdI1
        I2norm  = (I2     - meanI2) /stdI2
        I4anorm = (I4a    - meanI4a)/stdI4a
        I4snorm = (I4s    - meanI4s)/stdI4s

        inputs = np.zeros([ndata,4])
        inputs[:,0] = I1norm
        inputs[:,1] = I2norm
        inputs[:,2] = I4anorm
        inputs[:,3] = I4snorm

        inputstensor = tf.Variable(inputs)
        with tf.GradientTape() as t:
            y_pred = model(inputstensor)
        grad = t.jacobian(y_pred, inputstensor)
        gradPsi  = np.zeros([grad.shape[0],grad.shape[3]])
        gradPsi1 = np.zeros([grad.shape[0],grad.shape[3]])
        gradPsi2 = np.zeros([grad.shape[0],grad.shape[3]])
        gradPsia = np.zeros([grad.shape[0],grad.shape[3]])
        gradPsis = np.zeros([grad.shape[0],grad.shape[3]])
        for i in range(grad.shape[0]):
            gradPsi[i,:]  = grad[i,0,i,:]
            gradPsi1[i,:] = grad[i,1,i,:]
            gradPsi2[i,:] = grad[i,2,i,:]
            gradPsia[i,:] = grad[i,3,i,:]
            gradPsis[i,:] = grad[i,4,i,:]
        dPsidI1, dPsidI2, dPsidI4a, dPsidI4s = gradPsi[:,0], gradPsi[:,1], gradPsi[:,2], gradPsi[:,3]
        L1  = np.sum((y_pred[:,0] -  Psinorm)**2)
        Letrn.at[a1,a3]=L1/ndata*1000
        L1 += np.sum((y_pred[:,1] -  dPsidI1)**2)
        L1 += np.sum((y_pred[:,2] -  dPsidI2)**2)
        L1 += np.sum((y_pred[:,3] - dPsidI4a)**2)
        L1 += np.sum((y_pred[:,4] - dPsidI4s)**2)
        L1trn.at[a1,a3]=L1/ndata*1000
        
        #L2 loss
        ndata, I1, I2, I4a, I4s, Psi_gt, X, Y, sigma_gt, F, C, C_inv  = preprocessing(dataset_name)
        L2 = np.sum((sigma_gt[:,0,0] - sigma_pred[:,0,0])**2)
        L2+= np.sum((sigma_gt[:,1,1] - sigma_pred[:,1,1])**2)
        L2trn.at[a1,a3]=L2/ndata*1000
        
        
        #L_symm 
        L_symm = np.sum(np.abs(gradPsi1[:,1] - gradPsi2[:,0])) #dPsidI1dI2 - dPsidI2dI1
        L_symm+= np.sum(np.abs(gradPsi1[:,2] - gradPsia[:,0]))
        L_symm+= np.sum(np.abs(gradPsi1[:,3] - gradPsis[:,0]))
        L_symm+= np.sum(np.abs(gradPsi2[:,2] - gradPsia[:,1]))
        L_symm+= np.sum(np.abs(gradPsi2[:,3] - gradPsis[:,1]))
        L_symm+= np.sum(np.abs(gradPsia[:,3] - gradPsis[:,2]))
        
        #L_conv
        dI1dI1    = gradPsi1[:,0] #d^2Psi/d^I1
        dI1dI2    = gradPsi1[:,1] #d^2Psi/dI1dI2
        dI2dI2    = gradPsi2[:,1]
        matrix1 = [gradPsi1[:,:3], gradPsi2[:,:3], gradPsia[:,:3]] #Hessian matrix minus the last row and column
        matrix1 = tf.stack(matrix1)
        matrix1 = tf.transpose(matrix1, perm=[1,0,2])
        matrix2 = [gradPsi1, gradPsi2, gradPsia, gradPsis] #Hessian matrix
        matrix2 = tf.stack(matrix2)
        matrix2 = tf.transpose(matrix2, perm=[1,0,2])
        LPM1 = dI1dI1
        LPM2 = dI1dI1*dI2dI2 - dI1dI2*dI1dI2
        LPM3 = tf.linalg.det(matrix1)
        LPM4 = tf.linalg.det(matrix2)
        zeros = tf.zeros_like(LPM1)
        L_conv = np.sum(np.max((-LPM1-0.01, zeros),axis=0)) #This is to ensure that LPM1 > 0.01 (=a positive number)
        L_conv+= np.sum(np.max((-LPM2-0.01, zeros),axis=0))
        L_conv+= np.sum(np.max((-LPM3-0.01, zeros),axis=0))
        L_conv+= np.sum(np.max((-LPM4-0.01, zeros),axis=0))
        
        L3trn.at[a1,a3]=(L_symm + L_conv)/ndata*1000
        
        
        ## Validation
        dataset_name = 'hyper_validation'
        ndata, I1, I2, I4a, I4s, Psi_gt, X, Y, sigma_gt, F, C, C_inv  = preprocessing(dataset_name)
        meanPsi, meanI1, meanI2, meanI4a, meanI4s, stdPsi, stdI1, stdI2, stdI4a, stdI4s = \
                                                            normalization(True, model_name, Psi_gt, I1, I2, I4a, I4s)
        Psinorm = (Psi_gt - meanPsi)/stdPsi
        I1norm  = (I1     - meanI1) /stdI1
        I2norm  = (I2     - meanI2) /stdI2
        I4anorm = (I4a    - meanI4a)/stdI4a
        I4snorm = (I4s    - meanI4s)/stdI4s

        inputs = np.zeros([ndata,4])
        inputs[:,0] = I1norm
        inputs[:,1] = I2norm
        inputs[:,2] = I4anorm
        inputs[:,3] = I4snorm
        
        inputstensor = tf.Variable(inputs)
        with tf.GradientTape() as t:
            y_pred = model(inputstensor)
        grad = t.jacobian(y_pred, inputstensor)
        gradPsi  = np.zeros([grad.shape[0],grad.shape[3]])
        gradPsi1 = np.zeros([grad.shape[0],grad.shape[3]])
        gradPsi2 = np.zeros([grad.shape[0],grad.shape[3]])
        gradPsia = np.zeros([grad.shape[0],grad.shape[3]])
        gradPsis = np.zeros([grad.shape[0],grad.shape[3]])
        for i in range(grad.shape[0]):
            gradPsi[i,:]  = grad[i,0,i,:]
            gradPsi1[i,:] = grad[i,1,i,:]
            gradPsi2[i,:] = grad[i,2,i,:]
            gradPsia[i,:] = grad[i,3,i,:]
            gradPsis[i,:] = grad[i,4,i,:]
        dPsidI1, dPsidI2, dPsidI4a, dPsidI4s = gradPsi[:,0], gradPsi[:,1], gradPsi[:,2], gradPsi[:,3]
        L1  = np.sum((y_pred[:,0] -  Psinorm)**2)
        Leval.at[a1,a3]=L1/ndata*1000
        L1 += np.sum((y_pred[:,1] -  dPsidI1)**2)
        L1 += np.sum((y_pred[:,2] -  dPsidI2)**2)
        L1 += np.sum((y_pred[:,3] - dPsidI4a)**2)
        L1 += np.sum((y_pred[:,4] - dPsidI4s)**2)
        
        L1val.at[a1,a3]=L1/ndata*1000
        
        sigma_pred, _,_,_,_,_ = predict(model_name, dataset_name)
        ndata, I1, I2, I4a, I4s, Psi_gt, X, Y, sigma_gt, F, C, C_inv  = preprocessing(dataset_name)
        L2 = np.sum((sigma_gt[:,0,0] - sigma_pred[:,0,0])**2)
        L2+= np.sum((sigma_gt[:,1,1] - sigma_pred[:,1,1])**2)
        L2val.at[a1,a3]=L2/ndata*1000
        
        #L_symm
        L_symm = np.sum(np.abs(gradPsi1[:,1] - gradPsi2[:,0])) #dPsidI1dI2 - dPsidI2dI1
        L_symm+= np.sum(np.abs(gradPsi1[:,2] - gradPsia[:,0]))
        L_symm+= np.sum(np.abs(gradPsi1[:,3] - gradPsis[:,0]))
        L_symm+= np.sum(np.abs(gradPsi2[:,2] - gradPsia[:,1]))
        L_symm+= np.sum(np.abs(gradPsi2[:,3] - gradPsis[:,1]))
        L_symm+= np.sum(np.abs(gradPsia[:,3] - gradPsis[:,2]))
        
        #L_conv
        dI1dI1    = gradPsi1[:,0] #d^2Psi/d^I1
        dI1dI2    = gradPsi1[:,1] #d^2Psi/dI1dI2
        dI2dI2    = gradPsi2[:,1]
        matrix1 = [gradPsi1[:,:3], gradPsi2[:,:3], gradPsia[:,:3]] #Hessian matrix minus the last row and column
        matrix1 = tf.stack(matrix1)
        matrix1 = tf.transpose(matrix1, perm=[1,0,2])
        matrix2 = [gradPsi1, gradPsi2, gradPsia, gradPsis] #Hessian matrix
        matrix2 = tf.stack(matrix2)
        matrix2 = tf.transpose(matrix2, perm=[1,0,2])
        LPM1 = dI1dI1
        LPM2 = dI1dI1*dI2dI2 - dI1dI2*dI1dI2
        LPM3 = tf.linalg.det(matrix1)
        LPM4 = tf.linalg.det(matrix2)
        zeros = tf.zeros_like(LPM1)
        L_conv = np.sum(np.max((-LPM1-0.01, zeros),axis=0)) #This is to ensure that LPM1 > 0.01 (=a positive number)
        L_conv+= np.sum(np.max((-LPM2-0.01, zeros),axis=0))
        L_conv+= np.sum(np.max((-LPM3-0.01, zeros),axis=0))
        L_conv+= np.sum(np.max((-LPM4-0.01, zeros),axis=0))
        
        L3val.at[a1,a3]=(L_symm + L_conv)/ndata*1000

In [4]:
Letrn.style.set_caption("$\mathcal{{L}}_{{\Psi}}$ in training set for $a_1 \in {a1}$ and $a_3 \in {a3}$".format(a1=a1vals, a3=a3vals))

In [5]:
Leval.style.set_caption("$\mathcal{{L}}_{{\Psi}}$ in validation set for $a_1 \in {a1}$ and $a_3 \in {a3}$".format(a1=a1vals, a3=a3vals))

In [4]:
L1trn.style.set_caption("$\mathcal{{L}}_1$ in training set for $a_1 \in {a1}$ and $a_3 \in {a3}$".format(a1=a1vals, a3=a3vals))

In [5]:
L1val.style.set_caption("$\mathcal{{L}}_1$ in validation set for $a_1 \in {a1}$ and $a_3 \in {a3}$".format(a1=a1vals, a3=a3vals))

In [6]:
L2trn.style.set_caption("$\mathcal{{L}}_2$ in training set for $a_1 \in {a1}$ and $a_3 \in {a3}$".format(a1=a1vals, a3=a3vals))

In [7]:
L2val.style.set_caption("$\mathcal{{L}}_2$ in validation set for $a_1 \in {a1}$ and $a_3 \in {a3}$".format(a1=a1vals, a3=a3vals))

In [8]:
L3trn.style.set_caption("$\mathcal{{L}}_3$ in training set for $a_1 \in {a1}$ and $a_3 \in {a3}$".format(a1=a1vals, a3=a3vals))

In [9]:
L3val.style.set_caption("$\mathcal{{L}}_3$ in validation set for $a_1 \in {a1}$ and $a_3 \in {a3}$".format(a1=a1vals, a3=a3vals))